<% @meta_title = "Open issues" %>

<div class="container-sm">
  <h1 class='mb-3'>
    Contribute to an Open Sustain Open Source Project
  </h1>
  
  <p class='lead'>
    <strong>Find an issue</strong> that you can help with. 
    <strong>Contribute</strong> to the project and help sustain the planet.
  </p>

  <%= render @issues %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>