<% @meta_title = "Contributors to Open Sustainable Technology Projects" %>
<% @meta_description = "Browse contributors to open sustainable open source software projects" %>

<div class="container-md">

  <h2>Contributors</h2>

  <%= render @contributors %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>